{% extends "temp_main.html" %}
{% block title %}Создать услугу{% endblock %}

{% block main %}

<h1> Создание услуг </h1>


<form method="post">
    {% csrf_token %}

    {{ form.non_field.errors }}
    <div class="form-group">
        <label for="{{ form.service_name.id_for_label}}">Название: </label>
        {{ form.service_name }}
        <div class="valid-feedback">
            {{ form.service_name.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.service_price.id_for_label}}">Цена: </label>
        {{ form.service_price }}
        <div class="valid-feedback">
            {{ form.service_price.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.service_duration.id_for_label}}">Продолжительность: </label>
        {{ form.service_duration }}
        <div class="valid-feedback">
            {{ form.service_duration.errors }}
        </div>
    </div>
    <input type="submit" value="Submit">
</form>
{% endblock %}