{% extends "temp_main.html" %}

{% block title %}Панель управления{% endblock %}

{% block main %}
<h1> Панель управления </h1>
<p>{{ user.username }}, добро пожаловать в панель управления</p>
<div class="row">
{% if company_info_name %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
    {% for i in company_info_name %}
    <p>Ваша компания: {{ i.company_name }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor  %}
    {% else %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="text-center">
        <a href="{% url "create_company" %}">
        <i class="fa fa-plus-square-o fa-6x" aria-hidden="true"></i><br>
        Создать компанию
    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}