<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
            {% if error %}
                <div style="color:red;">{{ error }}</div>
            {% endif %}

<form class="form-signin login" action="." method="post">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Добро пожаловать!</h1>
            <p>Для входа в систему введите пожалуйста логин и пароль</p>
         </div>

	{{ form.as_p }}
	{% csrf_token %}
<p><input type="submit" value="log in"></p>
<p class="mt-5 mb-3 text-muted text-center">© 2019-2020</p>
</form>
         

{% endblock %}
