{% extends "temp_main.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit{% endblock %}
{% block main %}
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Редактирование профиля</h1>
                  </div>
					<p>Можете отредактировать ваш аккаунт:</p>
                    <form class="user" action="." method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" name="first_name" maxlength="150" value="{{ user.first_name }}" id="id_first_name" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Введите имя пользователя">
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" maxlength="150" value="{{ user.last_name }}" id="id_last_name" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Введите имя пользователя">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" maxlength="254" value="{{ user.email }}"  id="id_email" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Введите адрес электронной почты">
                        </div>
                        <div class="form-group">
                            <input type="date" name="date_of_birth" maxlength="254" value="{{ user.profile.date_of_birth }}"  id="id_date_of_birth" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Введите дату рождения">
                        </div>
                        <div class="form-group">
                            <p>Изображение: <a href="{{ user.profile.photo }}">{{ user.profile.photo }}</a><br>
                           <input type="checkbox" name="photo-clear" id="photo-clear_id">
                           <label for="photo-clear_id">Очистить</label></p>
                        <input type="file" name="photo" accept="image/*" id="id_photo" class="form-control-file" value="Загрузить изображение">
						                        </div>
                   {% csrf_token %}
                    <p><input type="submit" value="Сохранить изменения" class="btn btn-primary btn-user btn-block"></p>
                    </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url "login" %}"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}




<h1>Edit your account</h1>
<p>You can edit your account using the following form:</p> <form action="." method="post" enctype="multipart/form-data">
{{ user_form.as_p }}
{{ profile_form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Save changes"></p>
</form>