{% extends "temp.html" %}

{% block title %}Log-in{% endblock %}
{% block main %}
	 <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Добро пожаловать!</h1>
                  </div>
	 				<form class="user" action="{% url 'login' %}" method="post">
					  {% csrf_token %}
					  <input type="hidden" name="next" value="{{ next }}" />
                    <div class="form-group">
                      <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Введите имя пользователя">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" autocomplete="current-password" required="" id="id_password" class="form-control form-control-user" placeholder="Введите пароль">
                    </div>
                      <input class="btn btn-primary btn-user btn-block" type="submit" value="Войти">
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'password_reset' %}">Забыл пароль?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'register' %}">Создать аккаунт!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>






  <!-- <h1>Log-in</h1>
	{% if form.error %}
		<p>Неверные логин или пароль</p>
	{% else %}
		<p>Пожалуйста используйте следующую форму для входа</p>
	{% endif %}
	<div class="login-form">
	<form action="{% url 'login' %}" method="post">
	{{ form.as_p }}
	{% csrf_token %}
	<input type="hidden" name="next" value="{{ next }}" />
	<p><input type="submit" value="log-in"></p>
	</form>
		{# Assumes you setup the password_reset view in your URLconf #}
		<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
		<p><a href="{% url 'register' %}">Регистрация</a></p>
	</div>


	 <form class="user" action="{% url 'login' %}" method="post">
					  {% csrf_token %}
					  <input type="hidden" name="next" value="{{ next }}" />
                    <div class="form-group">
                      <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Введите имя пользователя">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" autocomplete="current-password" required="" id="id_password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Введите пароль">
                    </div>
                      <input class="btn btn-primary btn-user btn-block" type="submit" value="log-in">
                  </form>
 -->
{% endblock %}